body{
    background-color: #eee;
}
hr{
    border-color: black;
    background-color: black;
}

#link{
    position: absolute;
    right:0;
    margin-right: 200px;
}

#subscribe{
    position: absolute;
    right: 0;
    margin-right: 300px;
}
#top-h6{
    margin-right: 300px;
}
.events img{
    width: 50px;
    height: 50px;
}
.events{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
}
.events .event, .centertext {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.content{
    margin-right: 300px;
}
footer{
    display: flex;
    justify-content: center;
}